.navbar{
    background-color: #43658B;
    
    text-align: right;

}

.navtext{
    color: #F6F6E9;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}