.navbar{
    background-color: #D5EEBB;
    color: #444941;
    text-align: right;
    border-bottom: 1px solid #444941;

}

.nav-item{
    color: #444941;
    width: 500px;
    /* font-size: 1.5em; */
}


.nav-link{
    width: 170px;
    text-align: center;
    font-size: 22px;
}

.navbar-brand{
    width: 30%;
    height: 100px;
}

.header-logo{
    width: 60%;
    /* height: 30%; */
    /* right: 1% */
}


.navtext{
    color: #F6F6E9;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}
